<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">请假</h1>

        <div class="buttons">
            <button class="button icon ion-checkmark" ng-click="askedForLeave()">提交</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <label class="item item-input item-select" style="height: 60px;border-top: none">
                <span>类型选择:</span>
                <select id="leaveSelect">
                    <option selected value="请选择类型">请选择类型</option>
                    <option value="事假">事假</option>
                    <option value="病假">病假</option>
                    <option value="年假">年假</option>
                    <option value="婚假">婚假</option>
                    <option value="其它">其它</option>
                </select>
            </label>
            <label class="item">
                <span>结束时间:</span>
                <input id="dateTimeInput" placeholder="请选择结束日期时间!" ng-click="timeTouch('#dateTimeInput','datetime')" readonly style="border: none;background-color: white">
            </label>
            <label class="item">
                <textarea id="leaveTextarea" style="width: 100%;height: 60px;border: none" placeholder="内容记录:"></textarea>
            </label>
        </div>
    </ion-content>

</ion-view>
