<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>
        <h1 class="title" style="text-align: center">冰柜检查</h1>
        <div class="buttons">
            <button class="button" ng-click="">下一步</button>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll='false' style="margin-bottom: 35px">
        <div class="item" ng-repeat="freezerDetail in freezerList" style="padding-left: 3%;padding-right: 2%;">
            <table style="width: 100%;font-size: 92%">
                <tr>
                    <td>客户代码:{{freezerDetail.CUSTOMERID}}</td>
                    <td>申请日期:{{freezerDetail.APPLYDATE}}</td>
                </tr>
                <tr>
                    <td>冰柜编号:{{freezerDetail.ICEBOXNO}}</td>
                    <td>冰柜型号:{{freezerDetail.ICEBOXTYPE}}</td>
                </tr>
                <tr>
                    <td>冰柜品牌:{{freezerDetail.BRAND}}</td>
                    <td>冰柜价格:{{freezerDetail.PRICE}}</td>
                </tr>
                <tr>
                    <td>冰柜容量:{{freezerDetail.VOLUME}}</td>
                    <td>检核状态:{{freezerDetail.SCHECK}}</td>
                </tr>
            </table>
        </div>
    </ion-content>
    <div class="item-input" style="position: fixed;bottom: 2px;width: 100%;padding: 0 0 0 0">
        <button class="button button-assertive button-small" style="width: 46%;margin-left: 2%" ng-click="scan_byWX()">扫描</button>
        <button class="button button-assertive button-small" style="width: 46%;margin-left: 4%">添加</button>
    </div>
</ion-view>
