<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">促销员管理</h1>

        <div class="buttons">
            <button class="button" ng-click="">下一步</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">本月计划(件)：</span>
                <input placeholder="请输入计划数量" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
            </label>
            <label class="item item-input">
                <span class="input-label">今日订单(件)：</span>
                <input placeholder="请输入订单数量" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
            </label>
            <label class="item item-input">
                <span class="input-label">促销沟通：</span>
                <input placeholder="请输入数量" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
            </label>
            <label class="item item-input">
                <span class="input-label">回款(元)：</span>
                <input placeholder="请输入回款金额" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
            </label>
        </div>
    </ion-content>

</ion-view>