<ion-view class="modal">
    <!--门店编辑的模态页面-->
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon" ng-click="closeModal()">关闭</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">{{customer_MenDian.CUSTNAME}}</h1>

        <div class="buttons">
            <button class="button icon" ng-click="sumbitTheEdited_MenDian()">提交</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <label class="item" >
            <span style="color: #6b6e75">终端编号</span>
            <input style="float: right" type="text" ng-model="customer_MenDian.CUSTNO">
        </label>
        <label class="item">
            <span style="color: #6b6e75">终端名称</span>
            <input style="float: right" type="text" ng-model="customer_MenDian.CUSTNAME">
        </label>
        <label class="item">
            <span style="color: #6b6e75">位置</span>
            <span style="float: right">{{customer_MenDian.POSITION}}</span>
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">连锁</span>
            <select style="float: right" ng-model="customer_MenDian.CHAIN" ng-options="lanSuo.CHAINNAME as lanSuo.CHAINNAME for lanSuo in lianSuoList.rows">
                <option value="" ng-show="!customer_MenDian.CHAIN">请选择连锁</option>
            </select>
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">渠道</span>
            <select style="float: right" ng-model="customer_MenDian.CHANNELS" ng-options="quDao.CHANNELNAME as quDao.CHANNELNAME for quDao in quDaoList.rows">
                <option value="" ng-show="!customer_MenDian.CHANNELS">请选择渠道</option>
            </select>
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">部门名称</span>
            <select style="float: right" ng-model="customer_MenDian.DEPARTNAME" ng-options="buMen.DEPARTNAME as buMen.DEPARTNAME for buMen in buMenList.rows">
                <option value="" ng-show="!customer_MenDian.DEPARTNAME">请选择部门</option>
            </select>
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">销售代表</span>
            <select style="float: right" ng-model="customer_MenDian.SALESMAN" ng-options="xiaoShouDai.STAFF_NAME as xiaoShouDai.STAFF_NAME for xiaoShouDai in xiaoShouDaiBiaoList.rows">
                <option value="" ng-show="!customer_MenDian.SALESMAN">请选择销售代表</option>
            </select>
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">理货员</span>
            <select style="float: right" ng-model="customer_MenDian.SALES_MAN1" ng-options="liHuoYuan.USERNAME as liHuoYuan.USERNAME for liHuoYuan in liHuoYuanList.rows">
                <option value="" ng-show="!customer_MenDian.SALES_MAN1">请选择理货员</option>
            </select>
            <!--<span style="float: right">{{customer_MenDian.SALES_MAN1}}</span>-->
        </label>
        <label class="item">
            <span style="color: #6b6e75">理货员电话</span>
            <input style="float: right" type="text" ng-model="customer_MenDian.SALES_MAN_TEL">
            <!--<span style="float: right">{{customer_MenDian.SALES_MAN_TEL}}</span>-->
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">经销商业务员</span>
            <select style="float: right" ng-model="customer_MenDian.SALES_MAN3" ng-options="jxsYeWuYuan.USERNAME as jxsYeWuYuan.USERNAME for jxsYeWuYuan in jxsYeWuYuanList.rows">
                <option value="" ng-show="!customer_MenDian.SALES_MAN3">请选择业务员</option>
            </select>
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">所属经销商</span>
            <select style="float: right" ng-model="customer_MenDian.DEALER" ng-options="suoShuJxs.CUSTNAME as suoShuJxs.CUSTNAME for suoShuJxs in suoShuJxsList.rows">
                <option value="" ng-show="!customer_MenDian.DEALER">{{customer_MenDian.DEALER != '' ? customer_MenDian.DEALER:'请选择经销商'}}</option>
            </select>
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">省</span>
            <select style="float: right" ng-model="customer_MenDian.PROVINCE" ng-options="shengFen.PROVINCE as shengFen.PROVINCE for shengFen in shengFenList.rows" ng-change="getShiQuDetail('getCity',customer_MenDian.PROVINCE);getShiQuDetail('getCounty',customer_MenDian.PROVINCE,shiQuList.rows[0].CITY)">
                <option value="" ng-show="!customer_MenDian.PROVINCE">请选择省份</option>
            </select>
            <!--<span style="float: right">{{customer_MenDian.PROVINCE}}</span>-->
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">市</span>
            <select style="float: right" ng-model="customer_MenDian.CITY" ng-options="shiQu.CITY as shiQu.CITY for shiQu in shiQuList.rows" ng-change="getShiQuDetail('getCounty',customer_MenDian.PROVINCE,customer_MenDian.CITY)">
                <option value="" ng-show="!customer_MenDian.CITY">请选择市区</option>
            </select>
        </label>
        <label class="item item-select">
            <span style="color: #6b6e75">县</span>
            <select style="float: right" ng-model="customer_MenDian.COUNTY" ng-options="xianQu.COUNTY as xianQu.COUNTY for xianQu in xianQuList.rows">
                <option value="" ng-show="!customer_MenDian.COUNTY">请选择县区</option>
            </select>
        </label>
        <label class="item">
            <span style="color: #6b6e75">地址</span>
            <input style="float: right" type="text" ng-model="customer_MenDian.ADDRESS">
            <!--<span style="float: right">{{customer_MenDian.ADDRESS}}</span>-->
        </label>
        <label class="item">
            <span style="color: #6b6e75">联系人</span>
            <input style="float: right" type="text" ng-model="customer_MenDian.LINKMAN">
            <!--<span style="float: right">{{customer_MenDian.LINKMAN}}</span>-->
        </label>
        <label class="item">
            <span style="color: #6b6e75">联系电话</span>
            <input style="float: right" type="text" ng-model="customer_MenDian.PHONE">
            <!--<span style="float: right">{{customer_MenDian.PHONE}}</span>-->
        </label>

    </ion-content>
</ion-view>
