<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">促销员管理</h1>

        <div class="buttons">
            <button class="button ion ion-checkmark" ng-click="">保存</button>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="false">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">生产日期一：</span>
                <input id="productionDate1" placeholder="请选择生产日期" type="text" ng-click="closeModal();timeTouch('#productionDate1','date')" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">生产日期一箱数(整数)：</span>
                <input placeholder="请输入箱数" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
            </label>
            <label class="item item-input">
                <span class="input-label">生产日期一包数(整数)：</span>
                <input placeholder="请输入长促数量" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
            </label>
            <label class="item item-input">
                <span class="input-label">生产日期二：</span>
                <input id="productionDate2" placeholder="请选择生产日期" type="text" ng-click="timeTouch('#productionDate2','date')" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">生产日期二箱数(整数)：</span>
                <input placeholder="请输入箱数" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
            </label>
            <label class="item item-input">
                <span class="input-label">生产日期二包数(整数)：</span>
                <input placeholder="请输入长促数量" type="tel" onkeyup="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
            </label>
        </div>
    </ion-content>

</ion-view>