<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">工作任务</h1>

        <div class="buttons">
        <button class="button icon ion-checkmark" ng-click="">提交</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ng-click="openCamera_jobTask('menTouPaiZhao')">
                <img class="icon" src="imges/icon-photo.png" style="width: 35px;height: 35px;margin: 10px 0 0 0">
                门头拍照
                <span ng-show="!isFinishPaiZhao" class="badge assertive">未完成</span>
                <span ng-show="isFinishPaiZhao" class="badge balanced">已完成</span>
            </a>
            <a class="item item-icon-left">
                <img class="icon" src="imges/icon-zxfk.png" style="width: 35px;height: 35px;margin: 10px 0 0 0">
                店内执行反馈
                <span class="badge assertive">未完成</span>
            </a>
            <a class="item item-icon-left">
                <img class="icon" src="imges/icon-cxygl.png" style="width: 35px;height: 35px;margin: 10px 0 0 0">
                促销员管理
                <span class="badge assertive">未完成</span>
            </a>
            <a class="item item-icon-left">
                <img class="icon" src="imges/icon-dnwt.png" style="width: 35px;height: 35px;margin: 10px 0 0 0">
                店内问题反馈
                <span class="badge assertive">未完成</span>
            </a>
            <a class="item item-icon-left">
                <img class="icon" src="imges/icon-kcpd.png" style="width: 35px;height: 35px;margin: 10px 0 0 0">
                库存盘点
                <span class="badge assertive">未完成</span>
            </a>
            <a class="item item-icon-left">
                <img class="icon" src="imges/icon-pmpx.png" style="width: 35px;height: 35px;margin: 10px 0 0 0">
                排面品项统计
                <span class="badge assertive">未完成</span>
            </a>
            <a class="item item-icon-left">
                <img class="icon" src="imges/icon-bgjc.png" style="width: 35px;height: 35px;margin: 10px 0 0 0">
                冰柜检查
                <span class="badge assertive">未完成</span>
            </a>
            <a class="item item-icon-left">
                <img class="icon" src="imges/icon-bfxj.png" style="width: 35px;height: 35px;margin: 10px 0 0 0">
                拜访小结
                <span class="badge assertive">未完成</span>
            </a>
        </div>
    </ion-content>

</ion-view>