<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>
        <h1 class="title" style="text-align: center">消息通知</h1>

        <div class="buttons">
            <button ng-show="false" class="button" ng-click="">占位钮</button>
        </div>
    </ion-header-bar>
    <ion-content delegate-handle="mainScroll" id="contentDiv" overflow-scroll='false'>
        <ion-item class="item-icon-right" ng-repeat="msgDetail in msgNotice.msgArray" ng-click="msgNotice.goToMsgNoticeDetail($index)">
            <h2>{{msgDetail.NEWSTITLE}}</h2>
            <div style="color: #6b6e75;margin-top: 10px">{{msgDetail.NDATE}}</div>
            <i class="icon ion-ios-arrow-right" style="color: #cccccc"></i>
        </ion-item>
        <ion-infinite-scroll style="margin-left: -25px;" id="myInfiniteScroll" on-infinite="loadMoreCustomer()" ng-if="isCustomerShowScroll" distance="1%">
        </ion-infinite-scroll>
        <span style="position: fixed;bottom: 22px;width: 100%;text-align: center;margin-left: 20px" ng-if="isCustomerShowScroll">加载中...</span>
    </ion-content>
</ion-view>

