<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">库存量(件)</h1>

        <div class="buttons">
            <button class="button" ng-click="">下一步</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <a class="item item-icon-right" href="#/stockClassification_Detail">
                面点
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/stockClassification_Detail">
                休闲
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/stockClassification_Detail">
                汤圆
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/stockClassification_Detail">
                水饺
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/stockClassification_Detail">
                粽子
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/stockClassification_Detail">
                馄饨
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>

</ion-view>