<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">库存实景</h1>

        <div class="buttons">
            <button class="button" ng-click="">下一步</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div style="height: 8px"></div>
        <span style="color: #6b6b6b;font-size: 18px;margin-left: 8px">库存照片</span>
        <div class="list">
            <div class="item-input">
                <button class="button ion ion-android-add"></button>
            </div>
        </div>
    </ion-content>

</ion-view>