<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">促销员管理</h1>

        <div class="buttons">
            <button class="button" ng-click="">下一步</button>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll='false'>
        <br>
        <div class="list" ng-repeat="subSummary in allSummaryList">
            <div class="row-wrap" ng-style="divStyle">
                <span class="input-label" style="margin-left: 10px">{{subSummary}}</span>
                <label id="{{subSummary}}"></label>
                <button class="button ion ion-android-add" ng-click="openCamera_DNWTFK(subSummary)" style="margin-left: 10px"></button>
            </div>
        </div>

    </ion-content>

</ion-view>