<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">促销员管理</h1>

        <div class="buttons">
            <button class="button" ng-click="">下一步</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <label class="item">
                <span class="input-label">TP项-进场费用</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">TP项-新品陈列</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">TP项-DM</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">TP项-TG</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">TP项-排面陈列</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">TP项-通路促销</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">TP项-其他</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">CP项-业务宣传反馈</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">CP项-卖场特价</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">CP项-买赠反馈</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">CP项-其他</span>
                <button class="button ion ion-android-add"></button>
            </label>
            <label class="item">
                <span class="input-label">其他</span>
                <button class="button ion ion-android-add"></button>
            </label>
        </div>
    </ion-content>

</ion-view>