<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button icon ion-arrow-left-c" ng-click="goBackView()">返回</button>
        </div>

        <!--<img class="title" src="imges/title_logo.png" style="width: 35%;height: 60%;margin: 0 auto;margin-top: 8px;">-->
        <h1 class="title" style="text-align: center">拜访小结</h1>

        <!--<div class="buttons">-->
            <!--<button class="button icon ion-checkmark" ng-click="">下一步</button>-->
        <!--</div>-->
    </ion-header-bar>

    <ion-content>
        <div>
            <textarea placeholder="请输入小结内容" rows="5" style="width:100%;margin: 5px 2px 2px 2px ;border: double 1px #e4e5e7"></textarea>
        </div>
    </ion-content>
    <button class="button button-assertive button-small" style="width: 96%;position: fixed;bottom: 20px;margin-left: 2%">出店</button>
</ion-view>